* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(login-img/login-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-blur {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(5, 226, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 34%;
  height: 35rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0.5);
  border: 8px solid black;
  outline: 5px solid rgba(0, 255, 255, 0.6);
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.7);
  transition: 0.5s ease;
}

.container:hover {
  background-color: rgb(47, 179, 179);
}

.container .login-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-email .login-text {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

/* .input-group {
  display: flex;
  flex-direction: column;
} */

.input-group input {
  border: none;
  outline: none;
  width: 20rem;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 1.1rem;
  border-radius: 5px;
}

.input-group .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  width: 20rem;
  height: 2rem;
  border: 5px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.input-group .btn:hover {
  border: 2px solid #fff;
  outline: 2px solid black;
}

.login-register-text {
  margin-top: 1.2rem;
}
